<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Django Mola</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700' rel='stylesheet' type='text/css'></head>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
<body>
    <div class="page-header">
        <h1><b>Blog Djangero</b></h1>

    </div>

    <div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% for pos in post %}
                    <div class="post">
                        <div class="date">
                            {{ pos.publish_date }}
                        </div>
                        <h2><b><a href="">{{ pos.titulo }}</a></b></h2>
                        <p>{{ pos.contenido|linebreaks }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

</body>
</html>